:root {
  --wb-no-access-color: var(--ax-txt-primary-default);
  --wb-no-access-sub-title-color: var(--ax-txt-secondary-default);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--wb-no-access-color);

  .sub-title {
    color: var(--wb-no-access-sub-title-color);
  }
}
