:root {
  --wb-branches-container-gap: 0.25rem;
}

.branches-container {
  display: flex;
  justify-content: center;
  gap: var(--wb-branches-container-gap);

  &.vertical {
    flex-direction: column;
  }
}
