:root {
  --wb-node-section-gap: 0.75rem;
  --wb-node-section-padding: 0.625rem;
  --wb-node-section-border-radius: 0.5rem;
  --wb-node-section-border-color: var(--ax-ui-stroke-primary-default);
  --wb-node-section-border-width: 0.0625rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--wb-node-section-gap);
  border-radius: var(--wb-node-section-border-radius);
  padding: var(--wb-node-section-padding);
  border: var(--wb-node-section-border-width) solid var(--wb-node-section-border-color);
  color: var(--ax-txt-primary-default);

  composes: ax-public-h10 from global;
}
