.label {
  composes: ax-public-p10 from global;

  position: absolute;
  pointer-events: auto;
  display: flex;
  padding: 0.125rem 0.75rem;
  justify-content: center;
  align-items: center;

  color: var(--wb-edge-label-color);
  background-color: var(--wb-edge-label-background);
  border-radius: 0.5rem;
  border: solid 1px var(--wb-edge-label-color);

  &.icon {
    padding: 0.25rem;
    border-radius: 50%;
  }

  &.hover {
    color: var(--wb-edge-label-color-hover);
    border-color: var(--wb-edge-label-color-hover);
  }

  &.selected {
    color: var(--wb-edge-label-color-select);
    border-color: var(--wb-edge-label-color-select);
  }
}
